!!!
%html
  %head
    %title SalesFarce
    %link{:rel => "shortcut icon", :href=>"https://na9.salesforce.com/favicon.ico"}
  %body
    #header
      %h1 SalesFarce User Tool
      - if @authenticated
        %a{:href => '/logout'} Logout
      - else
        %a{:href => "/auth/salesforce"} Login via OAuth on Salesforce

      .flash_message= @flash[:notice] if @flash[:notice]

    #content
      = yield
