.well.sidebar-nav.span2
  %ul.nav.nav-list
    %li.nav-header Menu
    %li{:class => "#{@nav_active == :home ? 'active' : ''}"}
      %a{:href => '/'} Home
    - if @authenticated
      %li
        %a{:href => '/logout'} Logout
    - else
      %li
        %a{:href => "/auth/salesforce"} Login via OAuth on Salesforce
    %li.divider
    - if @authenticated
      %li{:class => "#{@nav_active == :sf_users ? 'active' : ''}"}
        %a{:href => "/sf_users"} List SalesForce Users
    %li{:class => "#{@nav_active == :create_user ? 'active' : ''}"}
      %a{:href => "/user/new"} Create User
    %li{:class => "#{@nav_active == :users ? 'active' : ''}"}
      %a{:href => "/users" } List Users
