%ul.nav.nav-tabs
  %li{:class => @profile_nav_active == :info ? 'active' : ''}
    %a{:href => "#"} Info
  %li{:class => @profile_nav_active == :chatter ? 'active' : ''}
    %a{:href => "#"} Chatter

= haml :user
