%h2 Salesfarce User List

.users
  - if @users.empty?
    %strong No users exist yet

  - @users.each do |user|
    .user-result
      %a{:href => "/user/#{user.id}"}= user.name + " - " + user.username
